<section>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light mt-2">
      <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
          <img src="../assets/image1.svg" alt="icon" class="image1icon" />
          <p class="navbar-brand text-uppercase iconText">wealthmarket</p>
        </div>
        <button
          class="navbar-toggler nav-toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars hamicon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- search box -->
            <div class="form-group has-search mb-3">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <li class="nav-item d-flex">
              <p class="nav-link">Find Jobs</p>
              <i class="fa-solid fa-angle-down arrdownIcon ms-2"></i>
            </li>
            <li class="nav-item mb-3">
              <i class="fa-regular fa-bell"></i>
            </li>
            <li class="nav-item mb-3">
              <i class="fa-regular fa-envelope"></i>
            </li>
            <li class="nav-item">
              <div class="navImg">
                <img src="../assets/navImg.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- routing section -->
    <section class="houseIcon">
      <div class="d-flex justify-content-between">
        <i class="fa-solid fa-house" style="color: #545454"></i>
        <p>/</p>
        <p>Programming & Tech</p>
        <p>/</p>
        <p>Website Development</p>
        <p>/</p>
        <p>John Emmanuel</p>
      </div>
    </section>
    <!-- main section-one -->
    <main class="main-sec">
      <section>
        <p class="firstText">
          I will design and develop a fully responsive website
        </p>
        <article class="userDeets d-flex mt-2">
          <div class="userImg mt-1">
            <img src="../assets/johnEmma.png" alt="" />
          </div>
          <div class="ms-4 div-name">
            <p class="fw-bold mt-2">John Emmanuel</p>
            <section class="d-flex">
              <i class="fa-solid fa-star starIcon" style="color: #000000"></i>
              <p class="ms-1">5</p>
              <p class="ms-1" style="color: #8d8686">(6)</p>
              <p class="ms-2">|</p>
              <p class="ms-2" style="color: #8d8686">Status:</p>
              <div class="ms-2 actve rounded-pill text-center">
                <p class="">Active</p>
              </div>
            </section>
          </div>
        </article>
        <article class="mt-4 border border-danger">
          <div class="frameImg w-100">
            <img class="w-100" src="../assets/frame.png" alt="" />
          </div>
          <div class="border border-dark">
            <i class="fa-solid fa-chevron-left" style="color: #000000"></i>
            <i class="fa-solid fa-chevron-right" style="color: #000000"></i>
          </div>
        </article>
      </section>
      <section></section>
    </main> 
  </header>
</section>
