/* navbar styles */
.image1icon {
  width: 28px;
  height: 28px;
  margin-top: 12px;
}
.iconText {
  font-size: 14px;
  margin-top: 10px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.hamicon {
  color: rgba(255, 144, 0, 1);
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.arrdownIcon {
  margin-top: 14px;
}
.navImg img {
  width: 28px;
  height: 28px;
}
.houseIcon {
  padding: 12px;
  font-size: 9px;
  font-weight: 400;
}
.route {
  margin-left: 5px;
}
.firstText {
  font-size: 20px;
  font-weight: 500;
}
.main-sec {
  padding: 12px;
}
.userImg img {
  width: 35px;
  height: 35px;
}
.userDeets {
  font-size: 12px;
}
.actve {
  border: 1px solid #33d3863b;
  background-color: #33d3863b;
  color: #33d386;
  width: 36px;
  height: 13px;
  font-size: 9px;
  margin-top: -1.7px;
}
.actve p {
  margin-top: 1px;
}
.div-name {
  line-height: 7px;
}
.starIcon {
  margin-top: -3px;
}
.art-one {
  position: relative;
}
.div-arrws {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.arrLeft,
.arrRight {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tickImg {
  width: 40%;
  height: 40%;
  margin-top: 2px;
}
.desc-text {
  text-align: justify;
}
.fiveStars {
  width: 40%;
  height: 40%;
  margin-top: -2.5px;
}
.reviewsButtn {
  margin-top: -10px;
}
.asterisk {
  margin-top: 2.5px;
}
.asterisk1 {
  margin-top: -2.5px;
}
.asterisk,
.asterisk1 {
  font-size: 16px;
}
.tabs {
  border-bottom: 1px solid #a59f9f;
}
.starNum1 {
  transform: translateY(-20.8%);
  font-size: 11px !important;
}
/* styles for min-width:768px */
@media (min-width: 768px) {
  .houseIcon {
    font-size: 12px;
    font-weight: 500;
  }
  .houIcn {
    margin-top: 3px;
  }
  .firstText {
    font-size: 25px;
    font-weight: 600;
    width: 90%;
  }
  .thouText {
    width: 100%;
  }
  .div-price {
    height: 58px;
  }
  .userImg img {
    width: 50px;
    height: 50px;
    margin-top: -10px;
  }
  .div-name {
    line-height: 8px;
    font-size: 14px;
  }
  .actve {
    width: 38px;
    height: 14px;
    margin-top: -1.6px;
  }
  .main-sell {
    width: 70%;
  }
  .starImg {
    width: 12%;
    height: 12%;
  }
  .starImg1 {
    width: 11% !important;
    height: 11% !important;
  }
  .starNum {
    margin-top: 1px !important;
  }
  .starNum1 {
    transform: translateY(-16%) !important;
    font-size: 14px !important;
  }
  .desc,
  .desc-text,
  .tabs {
    width: 75%;
  }
}

@media (min-width: 950px) {
  .starNum1 {
    transform: translateY(-13%) !important;
    font-size: 18px !important;
  }
}
/* styles for min-width:1024px */
@media (min-width: 1024px) {
  .image1icon {
    width: 50px;
    height: 50px;
  }
  .iconText {
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px !important;
  }
  .has-search {
    margin-top: 1.7rem;
    width: 450px !important;
  }
  .div-job {
    height: fit-content;
    margin-top: 1.7rem;
  }
  .bell,
  .envelop {
    margin-top: 2.3rem;
    margin-left: 10px !important;
  }
  .navImg img {
    margin-top: 1.4rem !important;
    width: 50px;
    height: 50px;
  }
  .houseIcon {
    font-size: 18px;
    font-weight: 500;
  }
  .route {
    margin-left: 10px;
  }
  .firstText {
    font-size: 28px !important;
    font-weight: 600 !important;
  }
  .userImg img {
    width: 50px !important;
    height: 50px !important;
    margin-top: 0.4rem !important;
  }
  .div-name p {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 19.16px;
  }
  .starIcon {
    margin-top: 2px;
  }
  .actve {
    width: 58px;
    height: 24px;
    font-size: 15px;
    font-weight: 500;
  }
  .div-price {
    height: 78px;
  }
  .profile {
    font-size: 24px;
    font-weight: 500;
  }
  .art-profle {
    font-size: 15px !important;
    font-weight: 400 !important;
  }
  .con-sell,
  .book-ser {
    font-size: 20px !important;
    font-weight: 500 !important;
    height: 59px !important;
  }
  .con-sell p,
  .book-ser p {
    margin-top: 12px !important;
  }
  .arrIconn {
    margin-top: 21px !important;
    height: fit-content;
  }
  .main-sell {
    margin-top: 5rem !important;
  }
  .figmaText,
  .skillText {
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  .date,
  .starNum,
  .fixPr {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .starNum1 {
    transform: translateY(-13%) !important;
    font-size: 18px !important;
  }
  .fixPr {
    margin-top: 1.6px !important;
  }
  .hundText,
  .skillSet {
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .desc-text,
  .SD {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .fiveStars {
    margin-top: 2px;
  }
  .reviewsButtn {
    font-size: 20px !important;
    font-weight: 500 !important;
    width: 283px !important;
    height: 69px !important;
  }
  .asterisk1 {
    margin-top: 2.5px;
  }
  .contactButtn {
    width: 198px !important;
    height: 59px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  .contactButtn p {
    margin-top: 10px !important;
  }
}
@media (min-width: 1440px) {
  nav {
    border: 1px solid red;
  }
  .has-search {
    width: 643px !important;
    margin-left: 4rem;
  }
  .div-job {
    margin-left: 3rem;
  }
  .bell,
  .envelop {
    margin-left: 3rem !important;
  }
  .navImg img {
    margin-left: 3rem !important;
  }
  .starImg1 {
    width: 75px !important;
    height: 15px !important;
  }
  /* .sec-two {
    width: 823px;
  }
  .div-gap {
    border: 1px solid red;
  } */
}
