<section>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light mt-2">
      <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
          <img src="../assets/image1.svg" alt="icon" class="image1icon" />
          <p class="navbar-brand text-uppercase iconText">wealthmarket</p>
        </div>
        <button
          class="navbar-toggler nav-toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars hamicon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- search box -->
            <div class="form-group has-search mb-3">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <li class="nav-item d-flex">
              <p class="nav-link">Find Jobs</p>
              <i class="fa-solid fa-angle-down arrdownIcon ms-2"></i>
            </li>
            <li class="nav-item mb-3">
              <i class="fa-regular fa-bell"></i>
            </li>
            <li class="nav-item mb-3">
              <i class="fa-regular fa-envelope"></i>
            </li>
            <li class="nav-item">
              <div class="navImg">
                <img src="../assets/navImg.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- routing section -->
    <section class="houseIcon border border-danger">
      <div class="d-flex justify-content-between">
        <i class="fa-solid fa-house" style="color: #545454"></i>
        <p>/</p>
        <p>Programming & Tech</p>
        <p>/</p>
        <p>Website Development</p>
        <p>/</p>
        <p>John Emmanuel</p>
      </div>
    </section>
    <!-- main section-one -->
    <main class="main-sec">
      <section>
        <p class="firstText">
          I will design and develop a fully responsive website
        </p>
        <article class="userDeets d-flex mt-2">
          <div class="userImg mt-1">
            <img src="../assets/johnEmma.png" alt="" />
          </div>
          <div class="ms-4 div-name">
            <p class="fw-bold mt-2">John Emmanuel</p>
            <section class="d-flex">
              <i class="fa-solid fa-star starIcon" style="color: #000000"></i>
              <p class="ms-1">5</p>
              <p class="ms-1" style="color: #8d8686">(6)</p>
              <p class="ms-2">|</p>
              <p class="ms-2" style="color: #8d8686">Status:</p>
              <div class="ms-2 actve rounded-pill text-center">
                <p class="">Active</p>
              </div>
            </section>
          </div>
        </article>
        <article class="mt-1 art-one">
          <div class="frameImg w-100 p-4">
            <img class="w-100" src="../assets/frame.png" alt="" />
          </div>
          <div
            class="d-flex justify-content-between text-center div-arrws w-100"
          >
            <div class="arrLeft">
              <i
                class="fa-solid fa-chevron-left"
                style="color: #000000; margin-top: 10px"
              ></i>
            </div>
            <div class="arrRight">
              <i
                class="fa-solid fa-chevron-right"
                style="color: #000000; margin-top: 10px"
              ></i>
            </div>
          </div>
        </article>
      </section>
      <section class="p-4 text-center">
        <div
          class="div-price"
          style="color: #000000; border: 1px solid #a59f9f; border-radius: 5px"
        >
          <p class="firstText mt-2" style="height: 25px">#10,000</p>
        </div>
        <section
          class="mt-4"
          style="color: #000000; border: 1px solid #a59f9f; border-radius: 5px"
        >
          <div class="mt-3 fs-6" style="border-bottom: 1px solid #a59f9f">
            <p>Profile Overview</p>
          </div>
          <article class="mt-4" style="font-size: 12px">
            <div class="d-flex justify-content-around">
              <p>Start Date</p>
              <p style="color: #a59f9f">4/6/2022</p>
            </div>
            <div class="d-flex justify-content-around">
              <p>Verfication</p>
              <div class="d-flex">
                <p style="color: #a59f9f">Verified</p>
                <img
                  style="margin-left: 3px"
                  class="tickImg"
                  src="../assets/verifiedtick.png"
                  alt=""
                />
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <p>Response Time</p>
              <p class="" style="color: #a59f9f">5mins</p>
            </div>
            <div class="d-flex justify-content-around mb-5">
              <p>Last Delivery</p>
              <p style="color: #a59f9f">4/6/2022</p>
            </div>
          </article>
        </section>
        <article
          class="mt-5 d-flex justify-content-center"
          style="border: 1px solid #000000; height: 42px; font-size: 14px;"
        >
          <p class="mt-2">Contact this seller</p>
          <i class="fa-solid fa-angle-down arrdownIcon ms-2"></i>
        </article>
        <article
          class="mt-3"
          style="
            border: 1px solid #ff9000;
            background-color: #ff9000;
            height: 42px;
            color: #ffffff;
            font-size: 14px;
          "
        >
          <p class="mt-2">Book this service</p>
        </article>
      </section>
      <!-- next section -->
      <main class="mt-2">
        <p class="firstText">Seller’s Reviews</p>
        <div class="art-one">
          <section class="p-4">
            <section class="p-3" style="border: 1px solid #a59f9f">
              <p class="" style="font-size: 14px; font-weight: 500">
                Looking for a figma professional to design my business dashboard
              </p>
              <div class="" style="font-size: 12px; color: #a59f9f">
                <p>Feb 5, 2023 - April 13, 2023</p>
                <p class="mt-2 text-justify">
                  “John is a very nice person to work with he is
                  blajhbkvygiyjgvfbhkgvb John is a very nice person tois
                  blajhbkvygiyjgvfbhkgvb hifhgvbiygubtybhyughtIIyguhjn
                </p>
              </div>
              <div class="d-flex" style="font-size: 11px; color: #ff9300">
                <img
                  style="width: 20%; height: 20%"
                  src="../assets/starImg.png"
                  alt=""
                />
                <p class="ms-1" style="margin-top: -2.5px">3.00</p>
              </div>
              <article class="d-flex">
                <p class="fw-bold" style="font-size: 12px">₦100,000</p>
                <p class="ms-3" style="font-size: 12px; color: #a59f9f">
                  Fixed Price
                </p>
              </article>
            </section>
          </section>
          <section
            class="d-flex justify-content-between text-center div-arrws w-100"
          >
            <div class="arrLeft">
              <i
                class="fa-solid fa-chevron-left"
                style="color: #000000; margin-top: 10px"
              ></i>
            </div>
            <div class="arrRight">
              <i
                class="fa-solid fa-chevron-right"
                style="color: #000000; margin-top: 10px"
              ></i>
            </div>
          </section>
        </div>
      </main>
      <!-- next section -->
      <main>
        <p class="firstText">Description</p>
        <p class="desc-text" style="font-size: 14px; color: #504c4c">
          I specialize in crafting visually stunning and fully functional
          websites tailored to your unique needs. With a keen eye for design and
          a passion for user-friendly interfaces, I can bring your web presence
          to life. Whether you're launching a personal blog, a dynamic
          e-commerce platform, or a corporate website, I have the expertise to
          create a digital masterpiece that reflects your brand and captivates
          your audience. Let's collaborate to turn your web vision into reality
        </p>
      </main>
      <!-- review section -->
      <main class="mt-5">
        <div class="d-flex fw-bold" style="font-size: 14px">
          <div style="border-bottom: 4px solid #ff9000">
            <p style="color: #ff9000">Reviews</p>
          </div>
          <div style="border-bottom: 1px solid #a59f9f">
            <p class="ms-3">FAQs</p>
          </div>
          <div style="border-bottom: 1px solid #a59f9f">
            <p class="ms-3">Facilities & Tools</p>
          </div>
          <div style="border-bottom: 1px solid #a59f9f">
            <p class="ms-3">Availability</p>
          </div>
        </div>
        <section>
          <article class="userDeets d-flex mt-5">
            <div class="userImg mt-1">
              <img src="../assets/johnEmma.png" alt="" />
            </div>
            <div class="ms-4 div-name">
              <p class="fw-bold mt-2">Emmanuel Jason</p>
              <section class="d-flex">
                <img class="fiveStars" src="../assets/fiveStars.png" alt="" />
                <p class="ms-2" style="color: #8d8686">|</p>
                <p class="ms-2" style="color: #8d8686">2 Weeks ago</p>
              </section>
            </div>
          </article>
          <div style="border-bottom: 1px solid #6e6a6a">
            <p class="mb-5 desc-text" style="font-size: 14px; color: #6e6a6a">
              I had the pleasure of working with John to design and develop my
              business website, and I couldn't be happier with the results. His
              attention to detail and creative approach made the entire process
              a breeze. From the initial concept discussions to the final
              launch, he was professional, responsive, and exceptionally
              talented. My website now not only looks fantastic but also
              functions seamlessly, which has greatly enhanced my online
              presence. I highly recommend him for anyone looking to elevate
              their web presence.
            </p>
          </div>
        </section>
        <!-- second review user -->
        <section>
          <article class="userDeets d-flex mt-5">
            <div class="userImg mt-1">
              <img src="../assets/grey.png" alt="" />
            </div>
            <div class="ms-4 div-name">
              <p class="fw-bold mt-2">Grey Lans</p>
              <section class="d-flex">
                <img class="fiveStars" src="../assets/fiveStars.png" alt="" />
                <p class="ms-2" style="color: #8d8686">|</p>
                <p class="ms-2" style="color: #8d8686">2 Weeks ago</p>
              </section>
            </div>
          </article>
          <div style="border-bottom: 1px solid #6e6a6a">
            <p class="mb-5 desc-text" style="font-size: 14px; color: #6e6a6a">
              I had the pleasure of working with John to design and develop my
              business website, and I couldn't be happier with the results. His
              attention to detail and creative approach made the entire process
              a breeze. From the initial concept discussions to the final
              launch, he was professional, responsive, and
              <span
                class="fw-bold text-dark"
                style="border-bottom: 1px solid black"
                >See More</span
              >
            </p>
            <article
              class="d-flex justify-content-center mb-5 reviewsButtn"
              style="border: 1px solid #000000; height: 42px; width: 200px; font-size: 14px;"
            >
              <p class="mt-2">Load more reviews</p>
              <i class="fa-solid fa-angle-down arrdownIcon ms-2"></i>
            </article>
          </div>
        </section>
        <!-- about the seller -->
        <section class="mt-4">
          <p class="firstText">Aboout the seller</p>
          <article class="userDeets d-flex mt-4">
            <div class="userImg mt-1">
              <img src="../assets/johnEmma.png" alt="" />
            </div>
            <div class="ms-4 div-name">
              <p class="fw-bold mt-2">John Emmanuel</p>
              <section class="d-flex" style="color: #8d8686; font-size: 10px">
                <p class="">ServiceMarketPlace</p>
                <p class="ms-1 asterisk">*</p>
                <p class="ms-1">Nigeria</p>
                <p class="ms-1 asterisk">*</p>
                <p class="ms-1">2 years</p>
              </section>
            </div>
          </article>
          <article class="">
            <p class="fw-bold" style="font-size: 13px">Software Developer</p>
            <div class="d-flex" style="font-size: 10px; margin-top: -10px">
              <img
                style="width: 15%; height: 15%"
                src="../assets/starImg1.png"
                alt=""
              />
              <p class="ms-1" style="margin-top: -2px">3.00</p>
            </div>
          </article>
          <article>
            <p style="font-size: 13px">Skills</p>
            <div
              class="d-flex"
              style="font-size: 10px; color: #8d8686; margin-top: -10px"
            >
              <p>JavaScript</p>
              <p class="ms-1 asterisk1">*</p>
              <p class="ms-1">CSS</p>
              <p class="ms-1 asterisk1">*</p>
              <p class="ms-1">Angular</p>
              <p class="ms-1 asterisk1">*</p>
              <p class="ms-1">Prototyping</p>
              <p class="ms-1 asterisk1">*</p>
            </div>
          </article>
          <article
            class="text-center mb-5"
            style="border: 1px solid #a59f9f; height: 42px; width: 130px; font-size: 14px;"
          >
            <p class="mt-2">Contact me</p>
          </article>
        </section>
      </main>
    </main>
  </header>
</section>
