<section>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light mt-2">
      <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
          <img src="../assets/image1.svg" alt="icon" class="image1icon" />
          <p class="navbar-brand text-uppercase iconText">wealthmarket</p>
        </div>
        <button
          class="navbar-toggler nav-toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars hamicon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- search box -->
            <div class="form-group has-search mb-3">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <li class="nav-item d-flex">
              <p class="nav-link">Find Jobs</p>
              <i class="fa-solid fa-angle-down arrdownIcon ms-2"></i>
            </li>
            <li class="nav-item mb-3">
              <i class="fa-regular fa-bell"></i>
            </li>
            <li class="nav-item mb-3">
              <i class="fa-regular fa-envelope"></i>
            </li>
            <li class="nav-item">
              <div class="navImg">
                <img src="../assets/navImg.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- routing section -->
    <section class="houseIcon">
      <div class="border border-danger d-flex justify-content-between">
        <i class="fa-solid fa-house" style="color: #545454"></i>
        <p>/</p>
        <p>Programming & Tech</p>
        <p>/</p>
        <p>Website Development</p>
        <p>/</p>
        <p>John Emmanuel</p>
      </div>
    </section>
  </header>
</section>
