/* navbar styles */
.image1icon {
  width: 28px;
  height: 28px;
  margin-top: 12px;
}
.iconText {
  font-size: 14px;
  margin-top: 10px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.hamicon {
  color: rgba(255, 144, 0, 1);
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.arrdownIcon {
  margin-top: 14px;
}
.navImg img {
  width: 28px;
  height: 28px;
}
.houseIcon {
  padding: 12px;
  font-size: 10px;
}
.firstText {
  font-size: 20px;
  font-weight: 500;
}
.main-sec {
  padding: 12px;
}
.userDeets {
  font-size: 12px;
}
.actve {
  border: 1px solid #33d3863b;
  background-color: #33d3863b;
  color: #33D386;
}
/* styles for min-width:768px */
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
