/* navbar styles */
.image1icon {
  width: 28px;
  height: 28px;
  margin-top: 12px;
}
.iconText {
  font-size: 14px;
  margin-top: 10px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.hamicon {
  color: rgba(255, 144, 0, 1);
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.arrdownIcon {
  margin-top: 14px;
}
.navImg img {
  width: 28px;
  height: 28px;
}
.houseIcon {
  padding: 12px;
  font-size: 10px;
}
.firstText {
  font-size: 20px;
  font-weight: 500;
}
.main-sec {
  padding: 12px;
}
.userImg img {
  width: 35px;
  height: 35px;
}
.userDeets {
  font-size: 12px;
}
.actve {
  border: 1px solid #33d3863b;
  background-color: #33d3863b;
  color: #33d386;
  width: 36px;
  height: 13px;
  font-size: 9px;
  margin-top: -1.7px;
}
.actve p {
  margin-top: 1px;
}
.div-name {
  line-height: 7px;
}
.starIcon {
  margin-top: -3px;
}
.art-one {
  position: relative;
}
.div-arrws {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.arrLeft,
.arrRight {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tickImg {
  width: 40%;
  height: 40%;
  margin-top: 2px;
}
.desc-text {
  text-align: justify;
}
.fiveStars {
  width: 40%;
  height: 40%;
  margin-top: -2.5px;
}
.reviewsButtn {
  margin-top: -10px;
}
.asterisk {
  margin-top: 2.5px;
}
.asterisk1 {
  margin-top: -2.5px;
}
.asterisk,
.asterisk1 {
  font-size: 16px;
}
/* styles for min-width:768px */
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
